@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* border: 0.25px dashed lightgrey; */
  font-size: 0.875rem
    /* 14px */
  ;
  line-height: 1.25rem
    /* 20px */
  ;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));

  height: 100vh;
}

.border-guide {
  border: 0.25px dashed lightgrey;
}